In [1]:
import boto3
import pandas as pd
from io import StringIO

In [5]:
AWS_ACCESS_KEY = "AKIAVO3RO6KPOF6SG6R3"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "uber-data"
S3_STAGING_DIR = "s3://tejas-covid19-test/output/"
S3_BUCKET_NAME =  "tejas-covid19-test"
S3_OUTPUT_DIRECTORY =  "output"

In [6]:
athena_client= boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [7]:
Dict={}
def download_and_load_query_results(client: boto3.client, query_response: Dict) -> pd.DataFrame:
    while True:
        try:
            client.get_query_results(QueryExecutionId=query_response["QueryExecutionId"])
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    
    temp_file_location = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    
    return pd.read_csv(temp_file_location)

In [8]:
response = athena_client.start_query_execution(
        QueryString="SELECT * FROM uber_data",
        QueryExecutionContext={
            "Database": SCHEMA_NAME
            },
        ResultConfiguration={
            "OutputLocation": S3_STAGING_DIR,
            "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
            },
        )

In [9]:
response

{'QueryExecutionId': 'ec66e3a7-78cd-41dc-a30c-ffaaea5e0ebf',
 'ResponseMetadata': {'RequestId': '40a84936-9e22-4f47-9dda-c9455c9f7061',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Mon, 25 Sep 2023 08:39:30 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '40a84936-9e22-4f47-9dda-c9455c9f7061'},
  'RetryAttempts': 0}}

In [10]:
uber_data = download_and_load_query_results(athena_client, response)

In [11]:
uber_data.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2016-03-01 00:00:00,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,2016-03-01 00:00:00,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2016-03-01 00:00:00,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,2,2016-03-01 00:00:00,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,2,2016-03-01 00:00:00,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80

In [14]:
uber_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   vendorid               100000 non-null  int64
 1   tpep_pickup_datetime   100000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  100000 non-null  datetime64[ns]
 3   passenger_count        100000 non-null  int64
 4   trip_distance          100000 non-null  float64
 5   pickup_longitude       100000 non-null  float64
 6   pickup_latitude        100000 non-null  float64
 7   ratecodeid             100000 non-null  int64
 8   store_and_fwd_flag     100000 non-null  object
 9   dropoff_longitude      100000 non-null  float64
 10  dropoff_latitude       100000 non-null  float64
 11  payment_type           100000 non-null  int64
 12  fare_amount            100000 non-null  float64
 13  extra                  100000 non-null  float64
 14  mta_tax                100000 non-null  float64
 15  tip_amount             100000 non-null  float64
 16  tolls_amount           100000 non-null  float64
 17  improvement_surcharge  100000 non-null  float64
 18  total_amount           100000 non-null  float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 14.5+ MB

In [13]:
uber_data['tpep_pickup_datetime']=pd.to_datetime(uber_data['tpep_pickup_datetime'])
uber_data['tpep_dropoff_datetime']=pd.to_datetime(uber_data['tpep_dropoff_datetime'])

In [15]:
uber_data = uber_data.drop_duplicates().reset_index(drop=True)
uber_data['trip_id'] = uber_data.index

In [16]:
uber_data.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,trip_id
0,1,2016-03-01,2016-03-01 00:07:55,1,2.50,-73.976746,40.765152,1,N,-74.004265,40.746128,1,9.0,0.5,0.5,2.05,0.00,0.3,12.35,0
1,1,2016-03-01,2016-03-01 00:11:06,1,2.90,-73.983482,40.767925,1,N,-74.005943,40.733166,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35,1
2,2,2016-03-01,2016-03-01 00:31:06,2,19.98,-73.782021,40.644810,1,N,-73.974541,40.675770,1,54.5,0.5,0.5,8.00,0.00,0.3,63.80,2
3,2,2016-03-01,2016-03-01 00:00:00,3,10.78,-73.863419,40.769814,1,N,-73.969650,40.757767,1,31.5,0.0,0.5,3.78,5.54,0.3,41.62,3
4,2,2016-03-01,2016-03-01 00:00:00,5,30.43,-73.971741,40.792183,3,N,-74.177170,40.695053,1,98.0,0.0,0.0,0.00,15.50,0.3,113.80,4

In [17]:
datetime_dim = uber_data[['tpep_pickup_datetime','tpep_dropoff_datetime']].reset_index(drop=True)
datetime_dim['tpep_pickup_datetime'] = datetime_dim['tpep_pickup_datetime']
datetime_dim['pick_hour'] = datetime_dim['tpep_pickup_datetime'].dt.hour
datetime_dim['pick_day'] = datetime_dim['tpep_pickup_datetime'].dt.day
datetime_dim['pick_month'] = datetime_dim['tpep_pickup_datetime'].dt.month
datetime_dim['pick_year'] = datetime_dim['tpep_pickup_datetime'].dt.year
datetime_dim['pick_weekday'] = datetime_dim['tpep_pickup_datetime'].dt.weekday

datetime_dim['tpep_dropoff_datetime'] = datetime_dim['tpep_dropoff_datetime']
datetime_dim['drop_hour'] = datetime_dim['tpep_dropoff_datetime'].dt.hour
datetime_dim['drop_day'] = datetime_dim['tpep_dropoff_datetime'].dt.day
datetime_dim['drop_month'] = datetime_dim['tpep_dropoff_datetime'].dt.month
datetime_dim['drop_year'] = datetime_dim['tpep_dropoff_datetime'].dt.year
datetime_dim['drop_weekday'] = datetime_dim['tpep_dropoff_datetime'].dt.weekday

datetime_dim['datetime_id'] = datetime_dim.index

datetime_dim = datetime_dim[['datetime_id', 'tpep_pickup_datetime', 'pick_hour', 'pick_day', 'pick_month', 'pick_year', 'pick_weekday',
                             'tpep_dropoff_datetime', 'drop_hour', 'drop_day', 'drop_month', 'drop_year', 'drop_weekday']]

datetime_dim.head()

,datetime_id,tpep_pickup_datetime,pick_hour,pick_day,pick_month,pick_year,pick_weekday,tpep_dropoff_datetime,drop_hour,drop_day,drop_month,drop_year,drop_weekday
0,0,2016-03-01,0,1,3,2016,1,2016-03-01 00:07:55,0,1,3,2016,1
1,1,2016-03-01,0,1,3,2016,1,2016-03-01 00:11:06,0,1,3,2016,1
2,2,2016-03-01,0,1,3,2016,1,2016-03-01 00:31:06,0,1,3,2016,1
3,3,2016-03-01,0,1,3,2016,1,2016-03-01 00:00:00,0,1,3,2016,1
4,4,2016-03-01,0,1,3,2016,1,2016-03-01 00:00:00,0,1,3,2016,1

In [18]:

passenger_count_dim = uber_data[['passenger_count']].reset_index(drop=True)
passenger_count_dim['passenger_count_id'] = passenger_count_dim.index
passenger_count_dim = passenger_count_dim[['passenger_count_id','passenger_count']]

trip_distance_dim = uber_data[['trip_distance']].reset_index(drop=True)
trip_distance_dim['trip_distance_id'] = trip_distance_dim.index
trip_distance_dim = trip_distance_dim[['trip_distance_id','trip_distance']]

In [20]:
trip_distance_dim.head()

   trip_distance_id  trip_distance
0                 0           2.50
1                 1           2.90
2                 2          19.98
3                 3          10.78
4                 4          30.43

In [22]:
rate_code_type = {
    1:"Standard rate",
    2:"JFK",
    3:"Newark",
    4:"Nassau or Westchester",
    5:"Negotiated fare",
    6:"Group ride"
}

rate_code_dim=uber_data[['ratecodeid']].reset_index(drop=True)
rate_code_dim['rate_code_id']=rate_code_dim.index
rate_code_dim['rate_code_name']=rate_code_dim['ratecodeid'].map(rate_code_type)
rate_code_dim=rate_code_dim[['rate_code_id','ratecodeid','rate_code_name']]

In [23]:
rate_code_dim.head()

   rate_code_id  ratecodeid rate_code_name
0             0           1  Standard rate
1             1           1  Standard rate
2             2           1  Standard rate
3             3           1  Standard rate
4             4           3         Newark

In [24]:
pickup_location_dim = uber_data[['pickup_longitude', 'pickup_latitude']].reset_index(drop=True)
pickup_location_dim['pickup_location_id'] = pickup_location_dim.index
pickup_location_dim = pickup_location_dim[['pickup_location_id','pickup_latitude','pickup_longitude']] 


dropoff_location_dim = uber_data[['dropoff_longitude', 'dropoff_latitude']].reset_index(drop=True)
dropoff_location_dim['dropoff_location_id'] = dropoff_location_dim.index
dropoff_location_dim = dropoff_location_dim[['dropoff_location_id','dropoff_latitude','dropoff_longitude']]

In [25]:
payment_type_name = {
    1:"Credit card",
    2:"Cash",
    3:"No charge",
    4:"Dispute",
    5:"Unknown",
    6:"Voided trip"
}
payment_type_dim = uber_data[['payment_type']].reset_index(drop=True)
payment_type_dim['payment_type_id'] = payment_type_dim.index
payment_type_dim['payment_type_name'] = payment_type_dim['payment_type'].map(payment_type_name)
payment_type_dim = payment_type_dim[['payment_type_id','payment_type','payment_type_name']]

In [27]:
fact_table = uber_data.merge(passenger_count_dim, left_on='trip_id', right_on='passenger_count_id') \
             .merge(trip_distance_dim, left_on='trip_id', right_on='trip_distance_id') \
             .merge(rate_code_dim, left_on='trip_id', right_on='rate_code_id') \
             .merge(pickup_location_dim, left_on='trip_id', right_on='pickup_location_id') \
             .merge(dropoff_location_dim, left_on='trip_id', right_on='dropoff_location_id')\
             .merge(datetime_dim, left_on='trip_id', right_on='datetime_id') \
             .merge(payment_type_dim, left_on='trip_id', right_on='payment_type_id') \
             [['trip_id','vendorid', 'datetime_id', 'passenger_count_id',
               'trip_distance_id', 'rate_code_id', 'store_and_fwd_flag', 'pickup_location_id', 'dropoff_location_id',
               'payment_type_id', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
               'improvement_surcharge', 'total_amount']]

In [28]:
fact_table.head()

,trip_id,vendorid,datetime_id,passenger_count_id,trip_distance_id,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type_id,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,0,1,0,0,0,0,N,0,0,0,9.0,0.5,0.5,2.05,0.00,0.3,12.35
1,1,1,1,1,1,1,N,1,1,1,11.0,0.5,0.5,3.05,0.00,0.3,15.35
2,2,2,2,2,2,2,N,2,2,2,54.5,0.5,0.5,8.00,0.00,0.3,63.80
3,3,2,3,3,3,3,N,3,3,3,31.5,0.0,0.5,3.78,5.54,0.3,41.62
4,4,2,4,4,4,4,N,4,4,4,98.0,0.0,0.0,0.00,15.50,0.3,113.80

In [29]:
bucket = 'tejas-uber-de-project'

In [66]:
csv8_buffer = StringIO()

In [67]:
csv8_buffer

In [68]:
fact_table.to_csv(csv8_buffer)

In [69]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/fact_table.csv').put(Body=csv8_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '9KTQKE27SEAG2W28',
  'HostId': 'Zdxs6avpjr6jZ5Mh219akBbVTC4VpaBh90kggREDxefiW0Ss8A0H9PgcotkeZiX4GQhL1oSw/Fw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Zdxs6avpjr6jZ5Mh219akBbVTC4VpaBh90kggREDxefiW0Ss8A0H9PgcotkeZiX4GQhL1oSw/Fw=',
   'x-amz-request-id': '9KTQKE27SEAG2W28',
   'date': 'Mon, 25 Sep 2023 09:30:47 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"8cf0687c87255e79bd81d49962524b84"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"8cf0687c87255e79bd81d49962524b84"',
 'ServerSideEncryption': 'AES256'}

In [45]:
csv9_buffer.getvalue()

''

In [70]:
csv9_buffer = StringIO()

In [71]:
csv9_buffer

In [72]:
datetime_dim.to_csv(csv9_buffer)

In [73]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/datetime_dim.csv').put(Body=csv9_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'VQ2177ZH6QWQJ64Q',
  'HostId': 'xEoiASda/CDx6pmLh0ld3x5rs+p6vO1ruGGB7vu/aIcxzd0DOJs9gSQ7S/mw5rhMUN5IWnlXEj+Hl9whQ0m/xA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'xEoiASda/CDx6pmLh0ld3x5rs+p6vO1ruGGB7vu/aIcxzd0DOJs9gSQ7S/mw5rhMUN5IWnlXEj+Hl9whQ0m/xA==',
   'x-amz-request-id': 'VQ2177ZH6QWQJ64Q',
   'date': 'Mon, 25 Sep 2023 09:31:56 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"e728685886a9f9fa5933eca43b842546"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"e728685886a9f9fa5933eca43b842546"',
 'ServerSideEncryption': 'AES256'}

In [46]:
passenger_count_dim.to_csv(csv2_buffer)

In [58]:
trip_distance_dim.to_csv(csv3_buffer)
rate_code_dim.to_csv(csv4_buffer)
pickup_location_dim.to_csv(csv5_buffer)
dropoff_location_dim.to_csv(csv6_buffer)
payment_type_dim.to_csv(csv7_buffer)

In [59]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/passenger_count_dim.csv').put(Body=csv2_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'Q3TGEJF9FTQQQB3D',
  'HostId': 'aTwklOcrI5ekPBZ9o7SdQLrRurcPi0pwjLiw+ksBdhHKfa1umCy44CUXce+n6Citzj31uQZn+Es=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'aTwklOcrI5ekPBZ9o7SdQLrRurcPi0pwjLiw+ksBdhHKfa1umCy44CUXce+n6Citzj31uQZn+Es=',
   'x-amz-request-id': 'Q3TGEJF9FTQQQB3D',
   'date': 'Mon, 25 Sep 2023 09:19:03 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"5e9bcac0bac3135905331257a87c908e"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 2},
 'ETag': '"5e9bcac0bac3135905331257a87c908e"',
 'ServerSideEncryption': 'AES256'}

In [60]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/trip_distance_dim.csv').put(Body=csv3_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '7B8WAB4WN2KPHEXT',
  'HostId': 'eVKMHZnxVCeqYpJ9PpJnItdxeNGlZf1CRUYk9gAqFNeXW9jr7jAfUM30KKWIvmViKLXWrzY5LWU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'eVKMHZnxVCeqYpJ9PpJnItdxeNGlZf1CRUYk9gAqFNeXW9jr7jAfUM30KKWIvmViKLXWrzY5LWU=',
   'x-amz-request-id': '7B8WAB4WN2KPHEXT',
   'date': 'Mon, 25 Sep 2023 09:19:33 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"e5fa1b61aa1ba3c72006fbc6c68308c0"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"e5fa1b61aa1ba3c72006fbc6c68308c0"',
 'ServerSideEncryption': 'AES256'}

In [61]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/rate_code_dim.csv').put(Body=csv4_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'A0P0MMXTFPXSH1T3',
  'HostId': 'U3oGObrUf6212GFqH/Wxlh6PQ4JjTXGJWqpQ7hxwyeGTPB+eBBX5EyQH1TXI9ed+/mqXbUE2aN4=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'U3oGObrUf6212GFqH/Wxlh6PQ4JjTXGJWqpQ7hxwyeGTPB+eBBX5EyQH1TXI9ed+/mqXbUE2aN4=',
   'x-amz-request-id': 'A0P0MMXTFPXSH1T3',
   'date': 'Mon, 25 Sep 2023 09:19:56 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"5201208996d892654682f865edd77914"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"5201208996d892654682f865edd77914"',
 'ServerSideEncryption': 'AES256'}

In [62]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/pickup_location_dim.csv').put(Body=csv5_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'PZR71QSK0QXGF0D6',
  'HostId': 'GUY+zrIL3Ih4k5mWuL35377cbif5i8Yxekx5pEhidKAvDv2GG5ba/b1DSy4bAGRhKM4s1Gpxnuk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'GUY+zrIL3Ih4k5mWuL35377cbif5i8Yxekx5pEhidKAvDv2GG5ba/b1DSy4bAGRhKM4s1Gpxnuk=',
   'x-amz-request-id': 'PZR71QSK0QXGF0D6',
   'date': 'Mon, 25 Sep 2023 09:20:33 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"b6866aa9ed5646797c5e02452dec94e6"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"b6866aa9ed5646797c5e02452dec94e6"',
 'ServerSideEncryption': 'AES256'}

In [63]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/dropoff_location_dim.csv').put(Body=csv6_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'TDZWMYMQ06MEX1J0',
  'HostId': 'lPeNmDHWTDMe6zui8fWgNnbAa35Qy3jWQEWdzLho7UTuBaBtX+dMz3Y2D35A/J4pnwfkDGyjMcI=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'lPeNmDHWTDMe6zui8fWgNnbAa35Qy3jWQEWdzLho7UTuBaBtX+dMz3Y2D35A/J4pnwfkDGyjMcI=',
   'x-amz-request-id': 'TDZWMYMQ06MEX1J0',
   'date': 'Mon, 25 Sep 2023 09:21:09 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"53c2f56582c55253b0f29139f9c7f4e1"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"53c2f56582c55253b0f29139f9c7f4e1"',
 'ServerSideEncryption': 'AES256'}

In [64]:
s3_resource = boto3.resource(
    's3',
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY
)
s3_resource.Object(bucket, 'output/payment_type_dim.csv').put(Body=csv7_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'HAKHWY81RH2PHYM9',
  'HostId': '+4S/mlomBzxwjY7TB06BWLt/BYYM48AXSGfGiWEQN2OQpv7dbvgj+rUp18gvlAuSbV3E/yCXcsXfM/lY/yECsA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '+4S/mlomBzxwjY7TB06BWLt/BYYM48AXSGfGiWEQN2OQpv7dbvgj+rUp18gvlAuSbV3E/yCXcsXfM/lY/yECsA==',
   'x-amz-request-id': 'HAKHWY81RH2PHYM9',
   'date': 'Mon, 25 Sep 2023 09:21:51 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"bdbd7d93acef7f650356fa5bc0f690c7"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 1},
 'ETag': '"bdbd7d93acef7f650356fa5bc0f690c7"',
 'ServerSideEncryption': 'AES256'}

In [74]:
fact_tablesql=pd.io.sql.get_schema(fact_table.reset_index(),'fact_table')
print(''.join(fact_tablesql))

CREATE TABLE "fact_table" (
"index" INTEGER,
  "trip_id" INTEGER,
  "vendorid" INTEGER,
  "datetime_id" INTEGER,
  "passenger_count_id" INTEGER,
  "trip_distance_id" INTEGER,
  "rate_code_id" INTEGER,
  "store_and_fwd_flag" TEXT,
  "pickup_location_id" INTEGER,
  "dropoff_location_id" INTEGER,
  "payment_type_id" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL
)

In [75]:
datetime_dimsql=pd.io.sql.get_schema(datetime_dim.reset_index(),'datetime_dim')
print(''.join(datetime_dimsql))

CREATE TABLE "datetime_dim" (
"index" INTEGER,
  "datetime_id" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "pick_hour" INTEGER,
  "pick_day" INTEGER,
  "pick_month" INTEGER,
  "pick_year" INTEGER,
  "pick_weekday" INTEGER,
  "tpep_dropoff_datetime" TIMESTAMP,
  "drop_hour" INTEGER,
  "drop_day" INTEGER,
  "drop_month" INTEGER,
  "drop_year" INTEGER,
  "drop_weekday" INTEGER
)

In [76]:
passenger_count_dimsql=pd.io.sql.get_schema(passenger_count_dim.reset_index(),'passenger_count_dim')
print(''.join(passenger_count_dimsql))

CREATE TABLE "passenger_count_dim" (
"index" INTEGER,
  "passenger_count_id" INTEGER,
  "passenger_count" INTEGER
)

In [77]:
trip_distance_dimsql=pd.io.sql.get_schema(trip_distance_dim.reset_index(),'trip_distance_dim')
print(''.join(trip_distance_dimsql))

CREATE TABLE "trip_distance_dim" (
"index" INTEGER,
  "trip_distance_id" INTEGER,
  "trip_distance" REAL
)

In [78]:
rate_code_dimsql=pd.io.sql.get_schema(rate_code_dim.reset_index(),'rate_code_dim')
print(''.join(rate_code_dimsql))

CREATE TABLE "rate_code_dim" (
"index" INTEGER,
  "rate_code_id" INTEGER,
  "ratecodeid" INTEGER,
  "rate_code_name" TEXT
)

In [79]:
pickup_location_dimsql=pd.io.sql.get_schema(pickup_location_dim.reset_index(),'pickup_location_dim')
print(''.join(pickup_location_dimsql))

CREATE TABLE "pickup_location_dim" (
"index" INTEGER,
  "pickup_location_id" INTEGER,
  "pickup_latitude" REAL,
  "pickup_longitude" REAL
)

In [80]:
dropoff_location_dimsql=pd.io.sql.get_schema(dropoff_location_dim.reset_index(),'dropoff_location_dim')
print(''.join(dropoff_location_dimsql))

CREATE TABLE "dropoff_location_dim" (
"index" INTEGER,
  "dropoff_location_id" INTEGER,
  "dropoff_latitude" REAL,
  "dropoff_longitude" REAL
)

In [81]:
payment_type_dimsql=pd.io.sql.get_schema(payment_type_dim.reset_index(),'payment_type_dim')
print(''.join(payment_type_dimsql))

CREATE TABLE "payment_type_dim" (
"index" INTEGER,
  "payment_type_id" INTEGER,
  "payment_type" INTEGER,
  "payment_type_name" TEXT
)

In [82]:
import redshift_connector

In [87]:
conn = redshift_connector.connect(
     host='redshift-cluster-1.375510725278.ap-south-1.redshift-serverless.amazonaws.com',
     database='dev',
     port=5439,
     user='admin',
     password='Tejas789'
  )

In [88]:
conn.autocommit = True

In [89]:
cursor = conn.cursor()

In [90]:
cursor.execute("""
CREATE TABLE "fact_table" (
"index" INTEGER,
  "trip_id" INTEGER,
  "vendorid" INTEGER,
  "datetime_id" INTEGER,
  "passenger_count_id" INTEGER,
  "trip_distance_id" INTEGER,
  "rate_code_id" INTEGER,
  "store_and_fwd_flag" TEXT,
  "pickup_location_id" INTEGER,
  "dropoff_location_id" INTEGER,
  "payment_type_id" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL
)
""")

In [91]:
cursor.execute("""
CREATE TABLE "datetime_dim" (
"index" INTEGER,
  "datetime_id" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "pick_hour" INTEGER,
  "pick_day" INTEGER,
  "pick_month" INTEGER,
  "pick_year" INTEGER,
  "pick_weekday" INTEGER,
  "tpep_dropoff_datetime" TIMESTAMP,
  "drop_hour" INTEGER,
  "drop_day" INTEGER,
  "drop_month" INTEGER,
  "drop_year" INTEGER,
  "drop_weekday" INTEGER
)
""")

In [92]:
cursor.execute("""
CREATE TABLE "passenger_count_dim" (
"index" INTEGER,
  "passenger_count_id" INTEGER,
  "passenger_count" INTEGER
)
""")

In [93]:
cursor.execute("""
CREATE TABLE "trip_distance_dim" (
"index" INTEGER,
  "trip_distance_id" INTEGER,
  "trip_distance" REAL
)
""")

In [94]:
cursor.execute("""
CREATE TABLE "rate_code_dim" (
"index" INTEGER,
  "rate_code_id" INTEGER,
  "ratecodeid" INTEGER,
  "rate_code_name" TEXT
)
""")

In [95]:
cursor.execute("""
CREATE TABLE "pickup_location_dim" (
"index" INTEGER,
  "pickup_location_id" INTEGER,
  "pickup_latitude" REAL,
  "pickup_longitude" REAL
)
""")

In [96]:
cursor.execute("""
CREATE TABLE "dropoff_location_dim" (
"index" INTEGER,
  "dropoff_location_id" INTEGER,
  "dropoff_latitude" REAL,
  "dropoff_longitude" REAL
)
""")

In [97]:
cursor.execute("""
CREATE TABLE "payment_type_dim" (
"index" INTEGER,
  "payment_type_id" INTEGER,
  "payment_type" INTEGER,
  "payment_type_name" TEXT
)
""")

In [98]:
cursor.execute("""
copy datetime_dim from 's3://tejas-uber-de-project/output/datetime_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [99]:
cursor.execute("""
copy dropoff_location_dim from 's3://tejas-uber-de-project/output/dropoff_location_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [100]:
cursor.execute("""
copy pickup_location_dim from 's3://tejas-uber-de-project/output/pickup_location_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [101]:
cursor.execute("""
copy fact_table from 's3://tejas-uber-de-project/output/fact_table.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [102]:
cursor.execute("""
copy passenger_count_dim from 's3://tejas-uber-de-project/output/passenger_count_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [103]:
cursor.execute("""
copy payment_type_dim from 's3://tejas-uber-de-project/output/payment_type_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [104]:
cursor.execute("""
copy rate_code_dim from 's3://tejas-uber-de-project/output/rate_code_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [105]:
cursor.execute("""
copy trip_distance_dim from 's3://tejas-uber-de-project/output/trip_distance_dim.csv'
credentials 'aws_iam_role=arn:aws:iam::375510725278:role/redshift-s3-role'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")